*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
nav{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 0;
}
.logo{
    width:180px;
    cursor:pointer;
}

nav ul{
    list-style: none;
    width:100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin:10px 20px;
}
nav ul li a{
    color:#f3eeee;
    text-decoration:none;
}

.btn{
    display: items;
    align-items: center;
    padding:10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: #fb0387;
    color:#ffffff;
    font-weight:500;
    cursor: pointer;
}

.btn img{
    width: 20px;
    margin-right:10px; 
}

.content{
    margin-top: 14%;
    color:#fff;
    max-width:620px;
}
.content h1{
    font-size:70px;
    font-weight:600;
    line-height: 85px;
    margin-bottom:25px;
}

.contentform{
    display: flex;
    align-items:center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.content from input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size:16px;
    padding-left:10px;
}
.contentform .btn{
    font-size: 15px;
    padding: 10p 30px;
}